# give a requirement.txt
numpy
pandas


fastapi
uvicorn[standard]
python-dotenv
websocket

alembic

sqlmodel 
pymysql 
mysqlclient

python-multipart

pydantic-settings
pydantic[email]
python-jose[cryptography]
passlib[bcrypt]
# databases[postgresql]
# psycopg2-binary
# asyncpg 

httpx
pytest
pretty-errors